/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 ; */
/* белый #e5e5e5  */
/* акцент #2196f3 */
/* вторичный цвет фона #ffffff; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;

  --primary-white-color: #ffffff
;
  --secondary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  height: 45px;
  border-color: transparent;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  border-color: var(--accent-color);
  background-color: transparent;
}

h2 {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
h3 {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*.list {
  list-style: none;
}*/
.link {
  text-decoration: none;
}

/*  Шапка Site nav */
.page-header {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  background-color: #ffffff;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 1200px;
   height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.site-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}
.link-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.link-items .nav-link-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-logo {
  padding-right: 43px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.site-nav-logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link-items .current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
}
.link-items .current:hover,
.link-items .current:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  margin-bottom: 200px;
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
 

  color: #000000;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
 
}
/* преимущества*/
.benefits h2 {
text-align: center;
}
.list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}
.list li:not(:last-child) {
  margin-right: 32px;
}
.text-benefits p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Чем мы занимаемся*/
.img h2 {
  text-align: center;
  color: #ffffff;
}

.list-img {
  display: flex;
  margin-bottom: 94px;
}
.list-img li:not(:last-child) {
  margin-right: 32px;
}
/* Сотрудники */
/*.positions {
  display: flex;
  justify-content: space-between;
}*/
/*.position-list {

}*/
/*.position-list-img{
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}*/
.positions h2 {
 text-align: center; 
}
.position-list li {
  text-align: center;
}
/*.position-list-img {
  /*position: absolute;*/
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;*/
}
/*.position-list-img h3 {
  text-align: center;*/
}
.position-list p {
  /*padding: 0;
  margin: 0;
  list-style: none;*/

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Футер */
.bottom {
  display: block;
  background-color: #2f303a;
  /*height: 252px;*/
  
 }
.bottom .container {
  display: block;
  background-color: #2f303a;
   margin-top: 0px;
   
 }
.bottom-list {
  display: block;
  display: table-cell;
  margin-top: 0px;
  align-content: center;
  vertical-align: middle;
  
  
}
.link-bottom {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-bottom:hover,
.link-bottom:focus {
  color: var(--accent-color);
}
.bottom address {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.bottom-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.bottom-logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
/* Наше портфолио */
.portfolio {
  background-color: #ffffff;
   text-align: center;
  /* width: 11700px;
   margin-left: auto;*/
}

}
.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*.portfolio.container: nth-child (3n) {
  margin-right: 0px;
}*/
.portfolio-list {
  display: flex;
   justify-content: center;
   margin-right: 8px;

}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
 /* margin-right: 15px;
  margin-left: 15px;*/
  }
.portfolio-img  nth-child (3n) {
  margin-right: 0px;
}
/*.portfolio-img li {
  margin-right: 0px;*/
}
.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
.portfolio-button {
  color: #212121;
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-button h2 {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.portfolio-button p {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
}
